options:
    -
        name: 'Example options'
        slug: example-options
        fields:
            -
                name: 'First option!'
                slug: option-first
                value: 'Hello world!'
                type: text
