.option-wrapper {
    padding: 5px;
}

.option-wrapper input {
    padding: 5px;
    width: 40%;
}

.option-wrapper input[type=radio] {
    width:auto;
    margin:5px;
}

.option-wrapper input[type=date] {
    line-height: normal;
}

.option-wrapper textarea {
    padding: 5px;
    width: 40%;
}

.option-wrapper select {
    width: 40%;
    padding: 5px;
}

.ui-options button {
    margin: 5px;
}